{% extends "govuk/template.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}
{% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

{% block head %}
<link rel="stylesheet" href="./public/css/govuk-frontend.min.css">
{% endblock %}

{% block pageTitle %}Model Upload Wizard{% endblock %}

{% block beforeContent %}
{{ govukBreadcrumbs({
items: [
{
text: "Home",
href: "#"
},
{
text: "Model Upload Wizard"
}
]
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">3D Model Upload Wizard</h1>

    <h2 class="govuk-heading-l">Prepare to Share Your Geo3D Model</h2>

    <p class="govuk-body">Welcome to the Geo3D Builder! This tool guides you through creating and publishing your
      interactive 3D geological model.</p>

    <p class="govuk-body">To upload and share your model, you'll follow these simple steps:</p>

    <ol class="govuk-list govuk-list--number">
      <li><strong>Choose Storage Location:</strong> Configure storage options.</li>
      <li><strong>Upload 3D model:</strong> Add your 3D model data and any supporting layers.</li>
      <li><strong>Configure:</strong> Adjust the scene's appearance, coordinate system, and user interface.</li>
      <li><strong>Preview:</strong> Review the project.json configuration file that powers your 3D scene. This preview
        will also display the working scene within Geo3D, served directly from your sandbox storage.</li>
      <li><strong>Save and Publish:</strong> Save your configuration. Use Preview to see how it looks. When ready click
        publish.</li>
    </ol>

    {{ govukInsetText({
    text: "Your model will be reviewed before final publication."
    }) }}

    <p class="govuk-body">Click start and follow the steps on the next page to upload your model.</p>

    <div class="govuk-button-group">
      {{ govukButton({
        text: "Home",
        href: "#",
        classes: "govuk-button--secondary"
      }) }}
      
      {{ govukButton({
        text: "Start now",
        href: "#",
        isStartButton: true
      }) }}
    </div>


  </div>

  <div class="govuk-grid-column-one-third">
    <aside class="govuk-prototype-kit-common-templates-related-items" role="complementary">
      <h2 class="govuk-heading-m">Help and guidance</h2>

      <div style="background-color: #f3f2f1; padding: 20px; margin-bottom: 20px; text-align: center;">
        <p class="govuk-body-s" style="margin: 0; color: #626a6e;">Placeholder image</p>
      </div>

      <nav role="navigation">
        <ul class="govuk-list">
          <li>
            <a href="#" class="govuk-link">Read Manual</a>
          </li>
          <li>
            <a href="#" class="govuk-link">Watch Video Guide</a>
          </li>
        </ul>
      </nav>
    </aside>
  </div>
</div>
{% endblock %}

{% block bodyEnd %}
<script type="module" src="./public/js/govuk-frontend.min.js"></script>
<script type="module">
  import { initAll } from './public/js/govuk-frontend.min.js'
  initAll()
</script>
{% endblock %}